<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.E_MartConnectionString" connectionString="Data Source=ASAF-LAPTOP;Initial Catalog=E-Mart;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>